.env

browser_user/*
!browser_user/.gitkeep

data/resumes/*
!data/resumes/.gitkeep

data/job_posts/complete_posts/*
!data/job_posts/complete_posts/.gitkeep

data/job_posts/filtered_posts/*
!data/job_posts/filtered_posts/.gitkeep

config/config_arron.yaml

data/log/*
!data/log/.gitkeep

developments/*
!developments/.gitkeep