.env

browser_user/*
!browser_user/.gitkeep

data/resumes/*
!data/resumes/.gitkeep

data/job_posts/*
!data/job_posts/.gitkeep

config/config_arron.yaml

data/log/*
!data/log/.gitkeep

data/output/*
!data/output/.gitkeep

developments/*
!developments/.gitkeep

.streamlit/*
src/.streamlit/*